h1{
color:green;
text-align:center;
}
h2{
color:blue;
text-align:center;
}
p{
color:red;
}
table{
background-color: cyan;
}
td{
color:yellow;
font-size:24px;
}
input
{
color:blue;
font-size:24px;
text-align : center;
}
select

Page | 11

{
color:blue;
font-size:24px;
text-align : center;
}